{% extends 'base.html' %}

{% block content %}
    <p class="lead">GDP by county</p>
    <div class="row">
        <div id="barchart" class="col-10">
            {% include "partials/gdp-bar.html" %}
        </div>
        <div class="col-2">
            <select name="year" id="select-year" class="custom-select" autocomplete="off"
                hx-get="{% url 'index' %}"
                hx-target="#barchart"
                hx-vals="js:{count: document.getElementById('count').value}">
                {% for year in years %}
                    <option value="{{ year }}" {% if year_selected == year %} selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <hr/>
            <label for="">Count</label>
            <input type="number" name="count" id="count" autocomplete="off" value="{{ count }}"
                hx-get="{% url 'index' %}"
                hx-target="#barchart"
                hx-vals="js:{year: document.getElementById('select-year').value}">
        </div>
    </div>
{% endblock %}
